%body

  .left-contents
    = render 'shared/side_bar'
  .right-contents
    .top
      .top-left
        .top-left__title
          =@group.name
        .top-left__member
          Member：
          - @group.users.each do |user|
            = user.name
      .top-right
        .top-right__edit
        =link_to "edit",class: "top-right__btn" do
          Edit
    .messages
      = render @messages
    .form
      .box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'box__message', placeholder: 'type a message'
          = f.label :image, class: 'box__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'